{% extends "common/base.html" %}

{% load i18n %}
{% load cache %}

{% block header %}
<style>
  .card>.card-img>img {
    max-height: 128px;
    width: auto;
    margin: auto;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="container">
    {% for product in products %}
    <div class="col-md-3">
      <div class="card">
        <div class="card-img">
          {% if product.icon %}
          {% cache 600 app product.uuid %}
          <img src="{{ product.icon_b64 }}" alt="{{ name }} Icon">
          {% endcache %}
          {% else %}
          <clr-icon shape="application" size="64"></clr-icon>
          {% endif %}
        </div>
        <div class="card-block">
          <p class="card-text">
            <h3 class="card-title">{{ product.name }}</h3>
            <p>{{ product.description }}</p>
          </p>
        </div>
        <div class="card-footer">
          <a href="{% url 'product-view' slug=product.slug %}" class="btn btn-sm btn-link">{% trans 'Details' %}</a>
          {% if product.management_url %}
          <a href="{{ product.management_url }}" class="btn btn-sm btn-link">{% trans 'Open' %}</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
