{% extends "core/base.html" %}

{% load i18n %}
{% load is_active %}
{% load supervisr_dyn_user %}

{% block sidenav %}
<nav class="sidenav clr-nav-level-2">
  <section class="sidenav-content">
    <a href="{% url 'user-index' %}" class="nav-link {% is_active 'user-index' %}">
      {% trans "Overview" %}
    </a>
    <a href="{% url 'user-events' %}" class="nav-link {% is_active 'user-events' %}">
      {% trans "Events" %}
    </a>
    {% supervisr_dyn_user as view_settings %}
    {% for sub in view_settings %}
    <a href="{% url sub.view %}" class="nav-link {% is_active sub.view %}">
      {% trans sub.title %}
    </a>
    {% endfor %}
    <a href="{% url 'user-send_feedback' %}" class="nav-link {% is_active 'user-send_feedback' %}">
      {% trans "Send Feedback" %}
    </a>
  </section>
</nav>
{% endblock %}
