{% extends "user/base.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
{% title "Events" %}
{% endblock %}

{% block content_area %}
<div class="container">
  <h1><clr-icon shape="tasks" size="48"></clr-icon>{% trans "Events" %}</h1>
</div>
<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <th>{% trans "User" %}</th>
    <th>{% trans "Invoker" %}</th>
    <th>{% trans "Description" %}</th>
    <th>{% trans "Age" %}</th>
    <th>{% trans "Action" %}</th>
    <th>{% trans "Remote IP" %}</th>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{ event.user }}</td>
      <td>{{ event.invoker }}</td>
      <td>{% trans event.message %}</td>
      <td>{{ event.get_localized_age }}</td>
      <td>
        {% if event.action_required %}
        <a class="btn btn-primary btn-xs" href="{{ event.get_url }}"><clr-icon shape="pop-out"></clr-icon></a>
        {% else %}
        <clr-icon shape="times"></clr-icon>
        {% endif %}
      </td>
      <td>{{ event.remote_ip}} ({{ event.remote_ip_rdns }})</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "blocks/pagination.html" with pages=events %}
{% endblock %}
