{% extends "user/base.html" %}

{% load supervisr_title %}
{% load i18n %}
{% load gravatar %}

{% block title %}
{% supervisr_title "Overview" %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="user" size="48"></clr-icon>{% trans "User Profile" %}</h1>
<div class="login-panel panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        {% include 'blocks/block_form_card.html' with card_title='General Information' form_update='Update' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
