{% extends "user/base.html" %}

{% load supervisr_title %}
{% load i18n %}
{% load gravatar %}
{% load crispy_forms_tags %}

{% block title %}
{% supervisr_title "Overview" %}
{% endblock %}

{% block content %}
<div class="login-panel panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        {% include 'blocks/block_form_card.html' with card_title='General Information' form_update='Update' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
