{% extends "core/base.html" %}

{% load i18n %}
{% load is_active %}
{% load is_active_url %}
{% load is_active_app %}
{% load supervisr_dyn_modlist %}

{% block sidenav %}
<nav class="sidenav clr-nav-level-2">
  <section class="sidenav-content">
    <section class="nav-group">
      <input id="admin_general" type="checkbox">
      <label for="admin_general">{% trans "General Settings" %}</label>
      <ul class="nav-list">
        <li><a href="{% url 'admin-index' %}" class="nav-link {% is_active 'admin-index' %}">{% trans "Dashboard" %}</a></li>
        <li><a href="{% url 'admin-users' %}" class="nav-link {% is_active 'admin-users' %}">{% trans "Users" %}</a></li>
        <li><a href="{% url 'admin-settings' namespace='supervisr.core' %}" class="nav-link {% is_active 'admin-settings' %}">{% trans "Settings" %}</a></li>
      </ul>
    </section>
    <section class="nav-group">
      <input id="admin_modules" type="checkbox">
      <label for="admin_modules">{% trans "Module Settings" %}</label>
      <ul class="nav-list">
        {% supervisr_dyn_modlist as apps %}
        {% for app in apps %}
        <li><a href="{% url app.url %}{% if app.default %}?mod={{ app.name }}{% endif %}" class="nav-link {% if app.default %}{% if request.GET.mod == app.name %}active{% endif %}{% else %}{% is_active_url app.url %}{% endif %}">{{ app.name }}</a></li>
        {% endfor %}
      </ul>
    </section>
    <a href="{% url 'admin-product_index' %}" class="nav-link {% is_active 'admin-product_index' %}">
      {% trans 'Products' %}
    </a>
    <a href="{% url 'admin-info' %}" class="nav-link {% is_active 'admin-info' %}">
      {% trans "System Information" %}
    </a>
    <a href="{% url 'admin-events' %}" class="nav-link {% is_active 'admin-events' %}">
      {% trans "Events" %}
    </a>
    <section class="nav-group">
      <input id="django-admin" type="checkbox">
      <label for="django-admin">{% trans "Django Builtins" %}</label>
      <ul class="nav-list">
        <li>
          <a href="{% url 'admin:index' %}" class="nav-link {% is_active_app 'admin' %}">
            {% trans "Admin Interface" %}
          </a>
        </li>
        <li>
          <a href="{% url 'django-admindocs-docroot' %}" class="nav-link {% is_active_app 'admindocs' %}">
            {% trans "Admin Docs" %}
          </a>
        </li>
      </ul>
    </section>
    <a href="{% url 'admin-debug' %}" class="nav-link {% is_active 'admin-debug' %}">
      {% trans "Debug" %}
    </a>
  </section>
</nav>
{% endblock %}
