{% extends "_admin/base.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
{% title "Debug" %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="play" size="48"></clr-icon>{% trans "Debug" %}</h1>
<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" name="raise_error" value="Raise RuntimeError" class="btn btn-primary">
  <input type="submit" name="clear_cache" value="Clear Cache" class="btn btn-primary">
  <input type="submit" name="update_settings" value="Update Settings" class="btn btn-primary">
  <input type="number" name="start_task_sec" value="30">
  <input type="submit" name="start_task" value="Start debug task" class="btn btn-primary">
  <input type="submit" name="send_email" value="Send test E-Mail" class="btn btn-primary">
  <input type="submit" name="render_email" value="Render test E-Mail" class="btn btn-primary">
</form>
<provider-update></provider-update>

{% endblock %}
