{% extends "_admin/base.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
{% title "Overview - Administrator" %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="analytics" size="48"></clr-icon>{% trans "Administrator Dashboard" %}</h1>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        {% trans "Users" %}
      </div>
      <div class="card-block">
        <div class="card-text">
          <h1 class="text-center">{{ user_count }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <table class="table">
      <tbody>
        <tr>
          <td>{% trans 'Version' %}</td>
          <td>{% setting 'VERSION' %}</td>
        </tr>
        <tr>
          <td>{% trans 'Install ID' %}</td>
          <td>{% supervisr_setting 'install_id' %}</td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th>{% trans 'Celery Workers' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for worker in celery_workers %}
        <tr>
          <td>{{ worker }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
