{% extends "_admin/base.html" %}

{% load supervisr_title %}
{% load i18n %}
{% load hostname %}
{% load setting %}
{% load fieldtype %}

{% block title %}
{% supervisr_title "System Info" %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="help-info" size="48"></clr-icon>{% trans "System Information" %}</h1>
<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th class="left">{% trans 'Key' %}</th>
      <th class="left">{% trans 'Value' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for cat, cat_data in info.items %}
      <tr>
        <td class="left" colspan="100%"><strong>{{ cat }}</strong></td>
      </tr>
      {% for k, v in cat_data.items %}
      <tr>
        <td class="left">{{ k }}</td>
        <td class="left">{{ v }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
    <tr>
      <td class="left" colspan="100%"><strong>Templatetags</strong></td>
    </tr>
    <tr>
      <td class="left">hostname.hostname</td>
      <td class="left">{% hostname %}</td>
    </tr>
    <tr>
      <td class="left">hostname.fqdn</td>
      <td class="left">{% fqdn %}</td>
    </tr>
    <tr>
      <td class="left">Fieldtype of user</td>
      <td class="left">{{ user|fieldtype }}</td>
    </tr>
    <tr>
      <td class="left" colspan="100%"><strong>settings.py</strong></td>
    </tr>
    <tr>
      <td class="left">DEBUG</td>
      <td class="left">{% setting 'DEBUG' %}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
