{% extends "_admin/base.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
{% title "Users - Administrator" %}
{% endblock %}

{% block content_area %}
<div class="container">
  <h1><clr-icon shape="users" size="48"></clr-icon>{% trans "Users" %}</h1>
</div>
<angular
    component="datagrid"
    api-path="core::users::read">
    <clr-header-column field="email">{% trans 'E-Mail' %}</clr-header-column>
    <clr-header-column field="short_name">{% trans 'Name' %}</clr-header-column>
    <clr-header-column field="username">{% trans 'Username' %}</clr-header-column>
    <clr-header-column field="date_joined">{% trans 'Sign-Up Date' %}</clr-header-column>
    <clr-header-column field="impersonate">{% trans 'Impersonate' %}</clr-header-column>
</angular>
{% endblock %}
