{% extends "core/base.html" %}

{% load i18n %}
{% load supervisr_is_active %}

{% block sidenav %}
<nav class="sidenav clr-nav-level-2">
  <section class="sidenav-content">
    <a href="{% url 'admin-index' %}" class="nav-link {% is_active 'admin-index' %}">
      {% trans "Overview" %}
    </a>
    <a href="{% url 'admin-settings' %}" class="nav-link {% is_active 'admin-settings' %}">
      {% trans "Settings" %}
    </a>
    <a href="{% url 'admin:index' %}" class="nav-link">
      {% trans "Admin Interface" %}
    </a>
    <a href="{% url 'django-admindocs-docroot' %}" class="nav-link">
      {% trans "Admin Docs" %}
    </a>
  </section>
  {% include 'blocks/sidebar_footer.html' %}
</nav>
{% endblock %}
