coverage
isort
pylint<2.0.0
astroid<2.0,>=1.6
pylint-django<=0.9.4
prospector<1.0
django-debug-toolbar
recommonmark
autopep8
pycodestyle<2.4.0,>=2.0.0
https://github.com/BeryJu/pdoc/releases/download/0.3.2/pdoc-0.3.2-py3-none-any.whl
markdown
mkdocs
mkdocs-material
tornado>=5.0
pyroma<2.4
safety
bandit<1.5.0
unittest-xml-reporting
