django>=1.10.0
invoke
cherrypy
pymysql
django-formtools
django-recaptcha
docutils
pyyaml
passlib
Pillow
schedule
python-gitlab
markdown
dnspython
requests
# In here you can specify pip modules that should be installed
django-two-factor-auth
ldap3
pyasn1<=0.3.0
slumber
google-api-python-client
pyvmomi
influxdb==4.1.1
psutil
psutil
django-oauth-toolkit
django-cors-middleware
pycrypto>=2.4
requests_oauthlib>=0.4.2
oauthlib==2.0.3
beautifulsoup4>=4.6.0
lxml>=3.8.0
signxml==2.3.0
coverage
isort
pylint
pylint-django
prospector
django-debug-toolbar
sphinx
recommonmark
