django<2.0
invoke
cherrypy<=11.0.0
pymysql
django-formtools
django-recaptcha
docutils
pyyaml
passlib
Pillow
schedule
raven
django-htmlmin
mkdocs-material
markdown
dnspython
requests
# In here you can specify pip modules that should be installed
django-two-factor-auth
requests
ldap3
pyasn1<=0.3.0
slumber
google-api-python-client
pyvmomi
influxdb>=4.1.1
psutil
django-oauth-toolkit
django-cors-middleware
pycrypto>=2.4
requests_oauthlib>=0.4.2
oauthlib>=2.0.6
beautifulsoup4>=4.6.0
lxml>=3.8.0
signxml
astroid==1.5.3
coverage
isort
pylint==1.7.5
pylint-django
prospector
django-debug-toolbar
sphinx
recommonmark
autopep8
