{% extends "_admin/mod_default.html" %}

{% load i18n %}
{% load supervisr_title %}

{% block title %}
{% supervisr_title "Overview" %}
{% endblock %}

{% block module_content %}
<h2><clr-icon shape="upload-cloud" size="32"></clr-icon>{% trans 'Beacon' %}</h2>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2><clr-icon shape="storage" size="32"></clr-icon>{% trans 'Connection Settings' %}</h2>
      </div>
      <form role="form" method="POST">
        <div class="card-block">
          <section class="form-block">
            {% include 'blocks/block_form.html' with form=form %}
          </section>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">{% trans 'Update' %}</button>
          <a href="{% url 'supervisr_mod_beacon:pulse' %}" type="submit" class="btn btn-sm">{% trans 'Pulse now' %}</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% if is_master %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2>
          <clr-icon shape="bar-chart" size="32"></clr-icon>{% blocktrans with count=installs.count %}Installs: {{ count }}{% endblocktrans %}</h2>
      </div>
      <div class="card-block">
        <table class="table">
          <thead>
            <th>{% trans 'Install ID' %}</th>
            <th>{% trans 'Python Version' %}</th>
            <th>{% trans 'OS' %}</th>
            <th>{% trans 'User count' %}</th>
          </thead>
          <tbody>
            {% for install in installs %}
            <tr>
              <td>{{ install.install_id }}</td>
              <td>{{ install.python_version }}</td>
              <td>{{ install.os_uname }}</td>
              <td>{{ install.user_count }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2>
          <clr-icon shape="bar-chart" size="32"></clr-icon>{% blocktrans with count=modules.count %}Installed Modules: {{ count }}{% endblocktrans %}</h2>
      </div>
      <div class="card-block">
        <table class="table">
          <thead>
            <th>{% trans 'Module Name' %}</th>
            <th>{% trans 'Author' %}</th>
            <th>{% trans 'Count' %}</th>
          </thead>
          <tbody>
            {% for module in modules %}
            <tr>
              <td>{{ module.name }}</td>
              <td>{{ module.author }}</td>
              <td>{{ module.pulse_set.count }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
