{% extends "core/base.html" %}

{% load i18n %}
{% load supervisr_utils %}
{% load supervisr_is_active %}

{% block sidenav %}
<nav class="sidenav clr-nav-level-2">
  <section class="sidenav-content">
    <section class="nav-group">
      <a href="{% url 'supervisr_dns:index' %}" class="nav-link {% is_active 'index' %}">{% trans "Zones" %}</a>
      <ul class="nav-list">
        {% related_models 'supervisr.dns.models.Zone' as zones %}
        {% for zone in zones %}
        <li>
          <a href="{% url 'supervisr_dns:record-list' uuid=zone.uuid %}" class="nav-link {% is_active_url 'supervisr_dns:record-list' uuid=zone.uuid %}">{{ zone.domain }}</a>
        </li>
        {% endfor %}
      </ul>
    </section>
    <section class="nav-group">
      <a href="{% url 'supervisr_dns:reverse-zone-index' %}" class="nav-link {% is_active 'reverse-zone-index' %}">{% trans "Reverse Zones" %}</a>
      <ul class="nav-list">
        {% related_models 'supervisr.dns.models.ReverseZone' as zones %}
        {% for zone in zones %}
        <li>
          <a href="" class="nav-link">{{ zone.zone_ip }}</a>
        </li>
        {% endfor %}
      </ul>
    </section>
    <section class="nav-group">
      <a href="{% url 'supervisr_dns:record-set-create' %}" class="nav-link {% is_active 'record-set-create' %}">{% trans "Sets" %}</a>
      <ul class="nav-list">
        {% related_models 'supervisr.dns.models.SetRecord' as set_records %}
        {% for set in set_records %}
        <li>
          <a href="{% url 'supervisr_dns:record-set-view' record_uuid=set.uuid %}" class="nav-link {% is_active_url 'supervisr_dns:record-set-view' record_uuid=set.uuid %}">{{ set.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </section>
  </section>
  {% include 'blocks/sidebar_footer.html' %}
</nav>
{% endblock %}
