{% extends "dns/base.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title "Overview" %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="router" size="48"></clr-icon>{% trans "DNS" %}</h1>
{% if unused_domains %}
<h3>{% trans "Unclaimed Domains" %}</h3>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Domain" %}</th>
        <th>{% trans "Provider" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for dom in unused_domains %}
      <tr>
        <td>{{ dom }}</td>
        <td>{{ dom.provider }}</td>
        <td><a href="{% url 'supervisr/mail:mail-domain-new' %}">{% trans "Pursue" %}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
<div class="row">
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">{% trans "Domains" %}</div>
      <div class="card-block">{{ domains|length }}</div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">{% trans "Accounts" %}</div>
      <div class="card-block">{{ accounts|length }}</div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">{% trans "Aliases" %}</div>
      <div class="card-block">{{ aliases|length }}</div>
    </div>
  </div>
</div>
{% endblock %}
