{% extends "dns/base.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title "Overview" %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="router" size="48"></clr-icon>{% trans "DNS" %}</h1>
{% if unused_domains %}
<h3>{% trans "Unclaimed Domains" %}</h3>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>{% trans 'Domain' %}</th>
        <th>{% trans 'Provider' %}</th>
        <th>{% trans 'Actions' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for dom in unused_domains %}
      <tr>
        <td>{{ dom }}</td>
        <td>{{ dom.provider }}</td>
        <td>
          <div class="btn-group-overflow dropdown">
            <a clrDropdown class="dropdown-toggle">
              <clr-icon shape="ellipsis-horizontal"></clr-icon>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'supervisr/dns:dns-zone-new' %}">{% trans "Blank Zone" %}</a>
              <a class="dropdown-item" href="{% url 'supervisr/dns:migrate-import-bind' %}">{% trans 'Import from Bind Zone' %}</a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
<div class="row">
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">{% trans "Records" %}</div>
      <div class="card-block">{{ records|length }}</div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">{% trans "Zones" %}</div>
      <div class="card-block">{{ zones|length }}</div>
    </div>
  </div>
</div>
{% endblock %}
