{% extends "common/base.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
{% title "Domains" %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="world" size="48"></clr-icon>{% trans "Domains" %}</h1>
<angular
    component="datagrid"
    api-path="core::domains::read">
    <clr-action add-view="domain-new"
                edit-view="domain-edit"
                delete-view="domain-delete"></clr-action>
    <clr-header-column field="domain_name">{% trans 'Name' %}</clr-header-column>
</angular>
{% endblock %}
