{% extends "common/base.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title "Domains" %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="world" size="48"></clr-icon>{% trans "Domains" %}</h1>
<div class="btn-group btn-link btn-icon-link">
  <a href="{% url 'domain-new' %}" class="btn">
    <clr-icon shape="add"></clr-icon>
  </a>
  <a data-ctx-name="edit" class="btn">
    <clr-icon shape="edit"></clr-icon>
  </a>
  <a data-ctx-name="trash" class="btn">
    <clr-icon shape="trash"></clr-icon>
  </a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>{% trans 'Domain' %}</th>
      <th>{% trans 'Provider (Registrar)' %}</th>
      <th>{% trans 'Is Managed?' %}</th>
      <th>{% trans 'Is Subdomain?' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for domain in domains %}
      <tr data-selectable data-ctx-edit="{% url 'domain-edit' domain=domain.domain %}?back={{ request.get_full_path }}" data-ctx-trash="{% url 'domain-delete' domain=domain.domain %}?back={{ request.get_full_path }}">
        <td>{{ domain.domain }}</td>
        <td>{{ domain.provider.name }}</td>
        <td>
          {% if domain.managed %}
          <clr-icon shape="check"></clr-icon>
          {% else %}
          <clr-icon shape="times"></clr-icon>
          {% endif %}
        </td>
        <td>
          {% if domain.is_sub %}
          <clr-icon shape="check"></clr-icon>
          {% else %}
          <clr-icon shape="times"></clr-icon>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
clrTableSelect('');
</script>
{% endblock %}
