{% extends "core/base.html" %}

{% load i18n %}
{% load markdown %}
{% load supervisr_utils %}

{% block title %}
  {% title 'Feed' %}
{% endblock %}

{% block content %}
<div class="col-md-8 offset-sm-2">
  {% for page in pages %}
    <div class="card">
      <div class="card-header">
        <h1><a href="{% url 'supervisr_static:page-view' slug=page.slug %}">{{ page.title }}</a></h1>
      </div>
      <div class="card-block">
        <div class="card-title">
          {% blocktrans with auth=page.author.first_name edit_date=page.last_updated %}
          Created by {{ auth }} on {{ edit_date }}
          {% endblocktrans %}
          {% if user.is_authenticated %}
          <p class="p7">{% blocktrans with state=page.published|yesno:"Yes,No" %}Published: {{ state }}{% endblocktrans %}</p>
          {% endif %}
        </div>
        <div class="card-text">
          <p>{% markdown rendered|truncatechars:50 %}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  {% include 'blocks/pagination.html' %}
</div>
{% endblock %}

