{% extends "core/base.html" %}

{% load media %}
{% load cache %}
{% load i18n %}
{% load markdown %}
{% load static %}
{% load supervisr_title %}

{% block title %}
  {% supervisr_title page.title %}
{% endblock %}

{% block header %}
<style>
  .home-hero .bg-img {
      {% if page.cast.product and page.cast.product.icon %}
      mask-image: url({% media page.cast.product %});
      -webkit-mask-image: url({% media page.cast.product %});
      {% else %}
      mask-image: url({% static 'img/icon.svg' %});
      -webkit-mask-image: url({% static 'img/icon.svg' %});
      {% endif %}
  }
</style>
{% endblock %}

{% block content %}
{% endblock %}

{% block content_area %}
<a name="_sv_top"></a>
<section class="home-hero">
  <div class="home-hero-content">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="bg-img"></div>
</section>

<section class="home-cards">
  <div class="home-cards-container clearfix">
    <div class="card-block">
      {% if user.is_superuser %}
      <div class="alert {% if page.published %} alert-info {% else %} alert-warning {% endif %}">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
              {% blocktrans with state=page.published|yesno:"Yes,No" %}Published: {{ state }}{% endblocktrans %}
            </span>
          </div>
        </div>
      </div>
      <div class="alert {% if page.listed %} alert-info {% else %} alert-warning {% endif %}">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
              {% blocktrans with listed=page.listed|yesno:"Yes,No" %}Listed: {{ listed }}{% endblocktrans %}
            </span>
          </div>
        </div>
      </div>
      {% endif %}
      {% if related_langs.exists %}
      <div class="alert alert-info">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
              {% trans "Also available in the following languages: " %}
              {% for lang in related_langs %}
              <a style="color: initial" class="alert-action" href="{% url 'supervisr_static:page-view' slug=page.slug lang=lang %}">{{ lang|upper }}</a>
              {% endfor %}
            </span>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="card-title">
        {% blocktrans with auth=page.author.first_name edit_date=page.last_updated crea_date=page.created %}
        Created by {{ auth }} on {{ crea_date }}. Updated {{ edit_date }}.
        {% endblocktrans %}
      </div>
      <div class="card-text">
        {% if page.has_markdown_enabled %}
        {% markdown page.content %}
        {% elif page.has_html_enabled %}
        {{ page.content|safe }}
        {% else %}
        {{ page.content }}
        {% endif %}
        {% if page.cast.product and page.cast.product.management_url and user.is_authenticated %}
        <a href="{{ page.cast.product.management_url }}" class="btn btn-primary">{% trans 'Open' %}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<a class="btn btn-primary btn-fab" href="#_sv_top"><clr-icon size="32" shape="arrow"></clr-icon></a>
{% endblock %}
