@import (inline) "@clr/icons/clr-icons.min.css";
@import (inline) "@clr/ui/clr-ui-dark.min.css";
@import (inline) "font-awesome/css/font-awesome.min.css";
@import "supervisr/all.less";
@import "clarity/all.less";
@import "django/all.less";


tr.selected {
    background-color: lighten(#22343c, 10%) !important;
}

select > option {
    background-color: #22343c !important;
}

.home-cards .home-cards-container {
    background-color: #22343c !important;
}

// django admin sidebar
#content-related {
    background-color: #22343c !important;
}

#content-related .module h2 {
    color: #e9ecef !important;
}

.apps ul {
    background: initial !important;
}

.apps ul li a {
    color: #e9ecef !important;
}

select[multiple] option, select[size] option {
    color: #e9ecef;
}
