{% extends "user/base.html" %}

{% load supervisr_title %}
{% load i18n %}
{% load hostname %}
{% load setting %}
{% load fieldtype %}

{% block title %}
{% supervisr_title "Overview" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        {% trans "Connected Accounts" %}
      </div>
      <div class="card-footer">
        <table class="table">
          <thead>
            <th>
              <th>{% trans 'Provider' %}</th>
              <th>{% trans 'Status' %}</th>
              <th>{% trans 'Action' %}</th>
              <th>{% trans 'ID' %}</th>
            </th>
          </thead>
          <tbody>
            {% for data in provider_state %}
            <tr>
              <td></td>
              <td>{% trans data.provider.ui_name %}</td>
              <td>{{ data.state|yesno:"Connected,Not Connected" }}</td>
              <td>
              {% if data.state == False %}
                <a href="{% url 'supervisr/mod/auth/oauth/client:oauth-client-login' provider=data.provider.name %}">Connect</a>
              {% else %}
                <a href="{% url 'supervisr/mod/auth/oauth/client:oauth-client-disconnect' provider=data.provider.name %}">Disconnect</a>
              {% endif %}
              </td>
              <td>{{ data.aas.first.identifier }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
