{% extends "user/base.html" %}

{% load supervisr_title %}
{% load i18n %}
{% load hostname %}
{% load setting %}
{% load fieldtype %}

{% block title %}
{% supervisr_title "Overview" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        {% trans "2-Factor Authentication" %}
      </div>
      <div class="card-footer">
        <p>
          {% blocktrans with state=state|yesno:"Enabled,Disabled" %}
          Status: {{ state }}
          {% endblocktrans %}
          {% if state %}
          <clr-icon shape="check" size="32" class="is-success"></clr-icon>
          {% else %}
          <clr-icon shape="times" size="32" class="is-error"></clr-icon>
          {% endif %}
        </p>
        <p>
          {% if not state %}
          <a href="{% url 'tfa:tfa-enable' %}" class="btn btn-success btn-sm">{% trans "Enable 2FA" %}</a>
          {% else %}
          <a href="{% url 'tfa:tfa-disable' %}" class="btn btn-danger btn-sm">{% trans "Disable 2FA" %}</a>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
      {% trans "Your Backup tokens:" %}
      </div>
      <div class="card-block">
        <pre>{% for token in static_tokens %}{{ token.token }}
{% endfor %}</pre>
      </div>
    </div>
  </div>
</div>
{% endblock %}
