{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="row">
  <div class="container">
    {% for upr in uprs %}
    <div class="col-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ upr.product.name }}</h3>
        </div>
        <div class="panel-body">
          {{ upr.product.description }}
          {% if upr.product.management_url %}
            <a target="_blank" href="{{ upr.product.management_url }}" class="btn btn-lg btn-main">{% trans 'Open' %}</a>
          {% else %}
            <a target="_blank" href="" class="btn btn-lg btn-main">{% trans 'Open' %}</a>
          {% endif %}
        </div>
      </div>
      <h1></h1>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
