{% extends "dns/base.html" %}

{% load supervisr_utils %}{
{% load i18n %}

{% block title %}
{% title 'Zones' %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="router" size="48"></clr-icon>{% trans 'DNS Zones' %}</h1>
<angular
    component="datagrid"
    api-path="dns::zones::read">
    <clr-action add-view="supervisr_dns:zone-create"
                edit-view="supervisr_dns:zone-update"
                delete-view="supervisr_dns:zone-delete"></clr-action>
    <clr-header-column field="domain.domain_name">{% trans 'Domain' %}</clr-header-column>
    <clr-header-column field="users|keys">{% trans 'Users' %}</clr-header-column>
    <clr-header-column field="providers|keys">{% trans 'Providers' %}</clr-header-column>
    <clr-header-column field="enabled|bool">{% trans 'Enabled' %}</clr-header-column>
    <clr-action-post>
        <div class="btn-group-overflow dropdown">
            <button class="btn btn-sm btn-secondary dropdown-toggle" clrDropdown>
                <clr-icon shape="ellipsis-horizontal"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <div class="dropdown-menu">
                <a href="{% url 'supervisr_dns:migrate-import-bind' %}" class="dropdown-item">{% trans 'Import from Bind Zone' %}</a>
            </div>
        </div>
    </clr-action-post>
</angular>
{% endblock %}
