{% extends "dns/base.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title 'Zones' %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="router" size="48"></clr-icon>{% trans 'DNS Zones' %}</h1>
<div class="btn-group btn-link btn-icon-link">
  <a href="{% url 'supervisr_dns:dns-zone-new' %}" class="btn">
    <clr-icon shape="add"></clr-icon>
  </a>
  <a data-ctx-name="edit" class="btn">
    <clr-icon shape="edit"></clr-icon>
  </a>
  <a data-ctx-name="trash" class="btn">
    <clr-icon shape="trash"></clr-icon>
  </a>
  <div class="btn-group-overflow dropdown">
    <button class="btn dropdown-toggle" clrDropdown>
      <clr-icon shape="ellipsis-horizontal"></clr-icon>
    </button>
    <div class="dropdown-menu">
      <a href="{% url 'supervisr_dns:migrate-import-bind' %}" class="dropdown-item">{% trans 'Import from Bind Zone' %}</a>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>{% trans 'Domain' %}</th>
      <th>{% trans 'Owner' %}</th>
      <th>{% trans 'Records' %}</th>
      <th>{% trans 'Enabled' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for dom in zones %}
    <tr data-selectable data-ctx-edit="{% url 'supervisr_dns:dns-zone-edit' zone=dom.domain %}?back={{ request.get_full_path }}" data-ctx-trash="{% url 'supervisr_dns:dns-zone-delete' zone=dom.domain %}?back={{ request.get_full_path }}">
      <td>{{ dom.domain }}</td>
      <td>{{ dom.users.all|join:"," }}</td>
      <td>{{ dom.record_set.all|length }}</td>
      <td>{{ dom.enabled }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'blocks/block_pagination.html' with pages=zones %}
{% endblock %}

{% block scripts %}
<script>
clrTableSelect('.container');
</script>
{% endblock %}
