{% extends "dns/base.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
{% title zone.domain.domain_name 'Records' %}
{% endblock %}

{% block header %}
<style>
  td > input[type=text] {
    width: 100%;
    height: initial;
  }
</style>
{% endblock %}

{% block content %}
<h1>
  <clr-icon shape="view-list" size="48"></clr-icon>
  {% blocktrans with name=zone.domain.domain_name %}
    Records for {{ name }}
  {% endblocktrans %}
  <a data-action="show-modal" data-modal="graph-modal">
    <clr-icon shape="organization"></clr-icon>
  </a>
</h1>
<div class="btn-group btn-link btn-icon-link">
  <div class="btn-group-overflow dropdown">
    <button class="btn dropdown-toggle" clrDropdown>
      <clr-icon shape="add"></clr-icon>
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <div class="dropdown-menu">
      <a href="{% url 'supervisr_dns:record-data-create' %}?zone_uuid={{ zone.uuid }}" class="dropdown-item">{% trans 'Create new Data Record and attach to Zone' %}</a>
      <a href="{% url 'supervisr_dns:record-set-create' %}?zone_uuid={{ zone.uuid }}" class="dropdown-item">{% trans 'Create new Set and attach to Zone' %}</a>
      <a href="{% url 'supervisr_dns:record-set-create' %}?zone_uuid={{ zone.uuid }}" class="dropdown-item">{% trans 'Attach existing Set' %}</a>
    </div>
  </div>
  <a data-ctx-name="edit" class="btn">
    <clr-icon shape="edit"></clr-icon>
  </a>
  <a data-ctx-name="trash" class="btn">
    <clr-icon shape="trash"></clr-icon>
  </a>
  <div class="btn-group-overflow dropdown">
    <button class="btn dropdown-toggle" clrDropdown>
      <clr-icon shape="ellipsis-horizontal"></clr-icon>
    </button>
    <div class="dropdown-menu">
      <a href="{% url 'supervisr_dns:migrate-import-bind' %}" class="dropdown-item">{% trans 'Import from Bind Zone' %}</a>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Enabled' %}</th>
      <th>{% trans 'Set' %}</th>
      <th>{% trans 'Type' %}</th>
      <th>{% trans 'Content' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for record in instances %}
    <tr data-selectable data-ctx-edit="{% url 'supervisr_dns:record-update' record_uuid=record.uuid %}?back={{ request.get_full_path }}" data-ctx-trash="{% url 'supervisr_dns:record-delete' record_uuid=record.uuid %}?back={{ request.get_full_path }}">
      <td>{{ record.name|default:'@' }}</td>
      <td>{{ record.enabled }}</td>
      {% if record.cast|fieldtype == 'data record' %}
      <td>{% trans '-' %}</td>
      <td>{{ record.cast.type }}</td>
      <td>{{ record.cast.content }}</td>
      {% else %}
      <td><a href="{% url 'supervisr_dns:record-set-view' record_uuid=record.uuid %}">{% trans 'See more' %}</a></td>
      <td>{% trans '-' %}</td>
      <td>{% trans '-' %}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'blocks/pagination.html' with pages=instances %}

<div class="modal graph-message" style="display: none;" id="graph-modal">
  <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          {% blocktrans with name=zone.domain.domain_name %}
            Zone {{name}} Graph
          {% endblocktrans %}
        </h3>
      </div>
      <div class="modal-body">
        <img data-src="{% url 'supervisr_dns:zone-graph' uuid=zone.uuid %}" alt="Zone graph">
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-action="close" type="button">{% trans 'Close' %}</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
$('[data-src]').each(function () {
  $(this).attr('src', $(this).attr('data-src'));
});
clrTableSelect('.content-area');
</script>
{% endblock %}
