{% extends "mail/base.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title "Mail" %}
{% endblock %}

{% block content_area %}
<ul id="mailTabd" class="nav" role="tablist">
  <li role="presentation" class="nav-item">
    <button id="tabAccounts" class="btn btn-link nav-link" aria-controls="panelAccounts"
    aria-selected="false" type="button">{% trans "Accounts " %}</button>
  </li>
  <li role="presentation" class="nav-item">
    <button id="tabGroups" class="btn btn-link nav-link" aria-controls="panelGroups"
    aria-selected="false" type="button">{% trans "Groups" %}</button>
  </li>
</ul>
{% endblock %}

{% block content %}
<section id="panelAccounts" role="tabpanel" aria-labelledby="tabAccounts" aria-hidden="true">
  <div class="btn-group btn-link btn-icon-link">
    <a href="{% url 'supervisr_mail:mail-account-new' %}" class="btn">
      <clr-icon shape="add"></clr-icon>
    </a>
    <a data-ctx-name="edit" class="btn">
      <clr-icon shape="edit"></clr-icon>
    </a>
    <a data-ctx-name="trash" class="btn">
      <clr-icon shape="trash"></clr-icon>
    </a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>{% trans 'Full Address' %}</th>
        <th>{% trans 'Domain' %}</th>
        <th>{% trans 'Owner' %}</th>
        <th>{% trans 'Usage' %}</th>
        <th>{% trans 'Forwarder Destination' %}</th>
        <th>{% trans 'Is Catchall?' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for account in accounts %}
      <tr data-selectable data-ctx-edit="{% url 'supervisr_mail:mail-account-edit' account=account.address domain=account.domain.domain.name %}" data-ctx-trash="{% url 'supervisr_mail:mail-account-delete' account=account.address domain=account.domain.domain.name %}">
        <td>{{ account.address }}@{{ account.domain.domain }}</td>
        <td>{{ account.domain.domain }}</td>
        <td>{{ account.users.all|join:"," }}</td>
        <td>
          {% if account.quota > 0 %}
          <div class="progress labeled">
            <progress max="{{ account.quota }}" value="{{ account.size }}"></progress>
            <span></span>
          </div>
          {% else %}
          {{ account.size }}
          {% endif %}
        </td>
        <td>
          {% if account.mailforwarder_set.exists %}
          <clr-icon shape="check"></clr-icon>
          {% else %}
          <clr-icon shape="times"></clr-icon>
          {% endif %}
        </td>
        <td>
          {% if account.is_catchall %}
          <clr-icon shape="check"></clr-icon>
          {% else %}
          <clr-icon shape="times"></clr-icon>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
<section id="panelGroups" role="tabpanel" aria-labelledby="tabGroups" aria-hidden="true">

</section>
{% endblock %}

{% block scripts %}
<script>clrTabs(); clrTableSelect();</script>
{% endblock %}
