{% extends "core/base.html" %}

{% load i18n %}
{% load static %}
{% load is_active %}

{% block sidenav %}
<nav class="sidenav clr-nav-level-2">
  <section class="sidenav-content">
    <a href="{% url 'supervisr_mod_contrib_bacula:index' %}" class="nav-link {% is_active 'supervisr_mod_contrib_bacula:index' %}">
      {% trans "Overview" %}
    </a>
    <a href="{% url 'supervisr_mod_contrib_bacula:jobs' %}" class="nav-link {% is_active 'job' %}">
      {% trans "Jobs" %}
    </a>
    <a href="{% url 'supervisr_mod_contrib_bacula:volumes' %}" class="nav-link {% is_active 'volumes' %}">
      {% trans "Volumes" %}
    </a>
  </section>
</nav>
{% endblock %}
