{% extends "mod/contrib/bacula/base.html" %}

{% load i18n %}
{% load static %}
{% load supervisr_title %}

{% block title %}
{% supervisr_title 'Overview' %}
{% endblock %}

{% block content_area %}
<div class="container">
  <h1><clr-icon shape="backup" size="48"></clr-icon>{% trans "Bacula Overview" %}</h1>
</div>
<div class="row">
  <div class="col-md-2 col-xs-6">
    <div class="card">
      <div class="card-header">{% trans 'Clients' %}</div>
      <div class="card-block">
        <div class="card-text">
          {{ clients }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-6">
    <div class="card">
      <div class="card-header">{% trans 'Jobs' %}</div>
      <div class="card-block">
        <div class="card-text">
          {{ jobs }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-6">
    <div class="card">
      <div class="card-header">{% trans 'Total Size' %}</div>
      <div class="card-block">
        <div class="card-text">
          {{ total_byes }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-6">
    <div class="card">
      <div class="card-header">{% trans 'Total Files' %}</div>
      <div class="card-block">
        <div class="card-text">
          {{ total_files }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-6">
    <div class="card">
      <div class="card-header">{% trans 'Database Size' %}</div>
      <div class="card-block">
        <div class="card-text">
          {{ db_size }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-6">
    <div class="card">
      <div class="card-header">{% trans 'Pool(s)' %}</div>
      <div class="card-block">
        <div class="card-text">
          {{ pools }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-6">
    <div class="card">
      <div class="card-header">{% trans 'Volumes' %}</div>
      <div class="card-block">
        <div class="card-text">
          {{ volumes }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-6">
    <div class="card">
      <div class="card-header">{% trans 'Volume Size' %}</div>
      <div class="card-block">
        <div class="card-text">
          {{ volume_size }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">{% trans 'Job status' %}<p class="p7">{{ date_yesterday }}</p></div>
      <div class="card-block">
        <div class="progress progress-fade loop"><progress></progress></div>
        <canvas id="jobStatus" width="400" height="200"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">{% trans 'Stored Bytes (last 7 days)' %}<p class="p7">{{ date_last_week }}</p></div>
      <div class="card-block">
        <div class="progress progress-fade loop"><progress></progress></div>
        <canvas id="storedBytes" width="400" height="200"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/Chart.min.js' %}"></script>
<script>
  var bytes2human = function(bytes) {
    var thresh = 1024;
    if(Math.abs(bytes) < thresh) {
        return bytes + ' B';
    }
    var units = ['kB','MB','GB','TB','PB','EB','ZB','YB']
    var u = -1;
    do {
        bytes /= thresh;
        ++u;
    } while(Math.abs(bytes) >= thresh && u < units.length - 1);
    return bytes.toFixed(1)+' '+units[u];
  };
  $.ajax({
    url: "{% url 'supervisr/mod/contrib/bacula:api-r1-graph' verb='job_status' %}",
    type: "get",
  }).done(function (data) {
    var chart = new Chart($("#jobStatus")[0].getContext('2d'), {
      type: 'pie',
      options: {
        legend: {
          position: 'right'
        },
      },
      data: data
    });
    $("#jobStatus").parent().find('.progress').remove();
  });
  $.ajax({
    url: "{% url 'supervisr/mod/contrib/bacula:api-r1-graph' verb='stored_bytes' %}",
    type: "get",
  }).done(function (data) {
    var chart = new Chart($("#storedBytes")[0].getContext('2d'), {
      type: 'bar',
      data: data,
      options: {
        tooltips: {
          callbacks: {
            label: function (item, data) {
              return bytes2human(item.yLabel);
            }
          }
        },
        legend: {
          display: false,
        },
        scales: {
          yAxes: [{
            ticks: {
              callback: function(label, index, labels) {
                return bytes2human(label);
              }
            },
          }]
        }
      },
    });
    $("#storedBytes").parent().find('.progress').remove();
  });
</script>
{% endblock %}
