{% extends "mod/contrib/bacula/base.html" %}

{% load i18n %}
{% load static %}
{% load supervisr_title %}
{% load human_size %}

{% block title %}
  {% supervisr_title 'Jobs' %}
{% endblock %}

{% block header %}
<style>
  .card-body select {
    min-width: 100%;
    max-width: 100%;
  }
</style>
{% endblock %}

{% block content_area %}
<div class="container">
  <h1><clr-icon shape="view-list" size="48"></clr-icon>{% trans "All Jobs" %}</h1>
</div>
<div class="row">
  <div class="col-md-10">
    <table class="table table-compact">
      <thead>
        <tr>
          <th>{% trans 'Status' %}</th>
          <th>{% trans 'Job ID' %}</th>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Type' %}</th>
          <th>{% trans 'Start Time' %}</th>
          <th>{% trans 'End Time' %}</th>
          <th>{% trans 'Elapsed Time' %}</th>
          <th>{% trans 'Level' %}</th>
          <th>{% trans 'Size' %}</th>
          <th>{% trans 'Files' %}</th>
          <th>{% trans 'Speed' %}</th>
          <th>{% trans 'Pool' %}</th>
          <th>{% trans 'Log' %}</th>
          <th>{% trans 'Files' %}</th>
        </tr>
      </thead>
      {% for job in pages %}
        <tr>
          <td><clr-icon shape="{{ job.Icon }}" class="{{ job.IconClass }}"></clr-icon></td>
          <td>{{ job.JobId }}</td>
          <td>{{ job.Name }}</td>
          <td>{{ job.Type }}</td>
          <td>{{ job.StartTime }}</td>
          <td>{{ job.EndTime }}</td>
          <td>{{ job.ElapsedTime }}</td>
          <td>{{ job.Level }}</td>
          <td>{% human_size job.ReadBytes %}</td>
          <td>{{ job.JobFiles }}</td>
          <td>{% human_size job.Speed %}/s</td>
          <td>{{ job.Pool.Name|default:'n/a' }}</td>
          <td><a href="{% url 'supervisr/mod/contrib/bacula:bacula-job-log' jobid=job.JobId %}"><clr-icon shape="search" class="is-highlight"></clr-icon></a></td>
          <td><a href="{% url 'supervisr/mod/contrib/bacula:bacula-job-file' jobid=job.JobId %}"><clr-icon shape="folder" class="is-highlight"></clr-icon></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-md-2">
    <form method="GET">
      <div class="card">
        <div class="card-header">{% trans "Filter" %}</div>
        <div class="card-body">
          {{ filter_form }}
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">{% trans 'Update' %}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  {% include 'blocks/block_pagination.html' %}
</div>
{% endblock %}
