{% extends "core/skel.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title 'Redirecting...' %}
{% endblock %}

{% block body %}
<form action="{{ url }}" method="POST">
  {% for key, value in attrs.items %}
    <input type="hidden" name="{{ key }}" value="{{ value }}">
  {% endfor %}
  <button type="submit">{% trans "Click here if your browser doesn't redirect you automatically" %}</button>
</form>
{% endblock %}

{% block scripts %}
<script>
  $('form').submit();
</script>
{% endblock %}
