{% extends "core/skel.html" %}

{% load supervisr_reflection %}
{% load supervisr_utils %}
{% load supervisr_is_active %}
{% load i18n %}
{% load static %}
{% load gravatar %}

{% block body %}
<div class="main-container clr-root-container">
  {% block main_container %}
  {% block messages %}
    {% include 'blocks/cookie_message.html' %}
    {% include 'blocks/messages.html' with app_level=True %}
  {% endblock %}
  <header class="header header-1">
    <button class="header-hamburger-trigger" type="button">
      <span></span>
    </button>
    <div class="branding">
      <a class="logo-and-title" href="{% url 'common-index' %}">
        <clr-icon shape="supervisr" class="clr-icon clarity-logo is-info"></clr-icon>
        <span class="title">{% supervisr_setting 'branding' default='supervisr' %}</span>
      </a>
    </div>
    <div class="divider"></div>
    <div class="header-nav clr-nav-level-1">
      {% if user.is_authenticated %}
      <a class="nav-link {% is_active 'account' 'common' 'domain' 'instance' 'credential' app_name='supervisr_core' %}" href="{% url 'common-index' %}">
        <span class="nav-text">{% trans "Home" %}</span>
      </a>
      {% sv_reflection_navbar_modules as installed_apps %}
      {% for app in installed_apps %}
      <a class="nav-link {% is_active_app app.label %}" href="{% url app.index %}">
        <span class="nav-text">{% trans app.title %}</span>
      </a>
      {% endfor %}
      {% if user.is_superuser %}
      <a class="nav-link {% is_active 'admin' %} {% is_active_app 'admin' %}" href="{% url 'admin-index' %}">
        <span class="nav-text">{% trans "Admin" %}</span>
      </a>
      {% endif %}
      {% endif %}
    </div>
    <div class="divider"></div>
    {% if user.is_authenticated %}
    <form class="search {% is_active 'search' %}" method="GET" action="{% url 'search' %}">
      <label for="search_input">
        <input type="hidden" name="filter_app" value="{{ request.GET.filter_app|default:'' }}">
        <input type="hidden" name="filter_model" value="{{ request.GET.filter_model|default:'' }}">
        <input id="search_input" name="q" placeholder="{% trans 'Search for keywords...' %}" type="text" {% if request.GET.q %} value="{{ request.GET.q }}" {% endif %}>
      </label>
    </form>
    {% endif %}
    <div class="settings">
      {% if user.is_authenticated %}
      <span class="nav-link hidden-md-down">
        <img class="branding" src="{% gravatar user.email %}" alt="">
      </span>
      <div class="dropdown bottom-right">
        <button style="background:url('{% gravatar user.email %}') no-repeat center;background-size: cover;" class="dropdown-toggle btn {% if 'impersonate_id' in request.session %}btn-danger{% else %}btn-primary{% endif %} hidden-sm-up" clrDropdown>
          {# hidden in sm and bigger #}
        </button>
        <button class="dropdown-toggle btn {% if 'impersonate_id' in request.session %}btn-danger{% else %}btn-primary{% endif %} hidden-sm-down" clrDropdown>
          {# hidden in sm and smaller #}
          {{ user.username }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu">
          {% if 'impersonate_id' in request.session %}
          <a class="dropdown-item" href="?__unimpersonate=True">{% trans 'Stop impersonation' %}</a>
          <div class="dropdown-divider"></div>
          {% endif %}
          <a class="dropdown-item" href="{% url 'user-index' %}">{% trans "Profile" %}</a>
          <a class="dropdown-item" href="{% url 'account-change_password' %}">{% trans "Change Password" %}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'user-send_feedback' %}">{% trans 'Send Feedback' %}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'account-logout' %}">{% trans "Logout" %}</a>
        </div>
      </div>
      {% else %}
      <a class="nav-link" href="{% url 'account-login' %}">
        <span class="nav-text">{% trans "Login" %}</span>
      </a>
      {% endif %}
    </div>
    <button class="header-overflow-trigger" type="button">
      <span></span>
    </button>
    <div class="header-backdrop"></div>
  </header>
  <div class="content-container">
    {% if '_popup' not in request.GET %}
    {% block sidenav %}
    {% endblock %}
    {% endif %}
    <div class="content-area">
      {% block content_area %}
      {% endblock %}
      <div class="container">
        {% block _content %}
        {% block content %}
        {% endblock %}
        {% endblock %}
      </div>
    </div>
  </div>
  {% endblock %}
</div>
{% include 'blocks/cookie_notice.html' %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  clrTabs();
</script>
{% endblock %}
