{% load static %}
{% load google_analytics %}
{% load supervisr_title %}
{% load raven %}
{% load setting %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#313131">
    <meta name="msapplication-navbutton-color" content="#313131">
    <meta name="apple-mobile-web-app-status-bar-style" content="#313131">
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}">
    <script src="{% static 'js/raven.min.js' %}"></script>
    <script>Raven.config('{% sentry_public_dsn %}', {environment: '{% setting "ENVIRONMENT" %}',release: '{% setting "VERSION_HASH" %}',}).install()</script>
    <script src="{% static 'js/custom-elements.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon.png' %}"/>
    <title>
      {% block title %}
      {% supervisr_title title %}
      {% endblock %}
    </title>
    {% block header %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    {% google_analytics %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
