{% extends "core/skel.html" %}

{% load supervisr_setting %}
{% load setting %}
{% load hostname %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block body %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        {% supervisr_setting 'branding'  %}
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">{% trans "Home" %} <span class="sr-only">(current)</span></a></li>
        {% if user.is_authenticated %}
        <li><a href="#">{% trans "DNS" %}</a></li>
        <li><a href="#">{% trans "Mail" %}</a></li>
        <li><a href="#">{% trans "Server" %}</a></li>
        <li><a href="#">{% trans "Web" %}</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_superuser %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Admin" %} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'admin:index' %}">{% trans "Admin Interface" %}</a></li>
            <li><a href="{% url 'django-admindocs-docroot' %}">{% trans "Admin Docs" %}</a></li>
          </ul>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'account-change_password' %}">{% trans "Change Password" %}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'account-logout' %}">{% trans "Logout" %}</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <form class="navbar-form navbar-right">
        <div class="input-group form-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <div class="row">
    <div class="container">
    {% block messages %}
      {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{ msg.level_tag }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{% trans msg.level_tag|capfirst %}</strong> {{ msg.message }}
        </div>
        {% endfor %}
      {% endif %}
    {% endblock %}
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">
      {% supervisr_setting 'branding' %} |
      {% setting 'VERSION_HASH' %} |
      <img src="https://git.beryju.org/BeryJu.org/supervisr/badges/master/build.svg" /> |
      <img src="https://git.beryju.org/BeryJu.org/supervisr/badges/master/coverage.svg" /> |
      {% blocktrans %}Found an Issue? Report it <a href="https://git.beryju.org/BeryJu.org/supervisr/issues">here</a>{% endblocktrans %} |
      {% fqdn %}</p>
  </div>
</footer>
{% endblock %}
