{% extends "core/base.html" %}

{% load supervisr_title %}
{% load crispy_forms_tags %}
{% load fieldtype %}
{% load i18n %}

{% block title %}
{% supervisr_title title %}
{% endblock %}

{% block content %}
<div class="clr-wizard main-container">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <form action="" method="post">
          {% csrf_token %}
          <div class="modal-body">
            <div class="content-container">
              <nav class="nav-panel sidenav">
                <div class="text-light">
                  <div class="wizard-title">
                    {{ title }}
                  </div>
                </div>
                <ol class="nav navList" role="tablist">
                  {% for step in wizard.steps.all %}
                  <li class="clr-nav-link {% if step < wizard.steps.current %} complete {% endif %} {% if step == wizard.steps.current %} active {% endif %}" role="presentation">
                    <button type="submit" name="wizard_goto_step" value="{{ step }}" class="btn btn-link nav-link" type="button" formnovalidate>
                    Step {{ step|add:1 }}
                    </button>
                  </li>
                  {% endfor %}
                </ol>
              </nav>
              <main class="content-area">
                <button aria-label="Close" class="close" type="button">
                  <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <div class="clr-nav-content" role="tabpanel">
                  <section>
                    <label class="text-light">{{ wizard.form.title }}</label>
                    <div class="content-wrapper">
                      <div class="form">
                        <section class="form-block">
                          {{ wizard.management_form }}
                          {% for field in wizard.form %}
                          {% for error in field.errors %}
                          <div class="alert alert-danger">
                            <div class="alert-item">
                              <span class="alert-text">
                                {{ error }}
                              </span>
                            </div>
                          </div>
                          {% endfor %}
                          <div class="form-group">
                            {% if field.field.widget|fieldtype == 'RadioSelect' %}
                              {{ field.label_tag }}
                              {% for c in field %}
                              <div class="radio">
                                <input type="radio" id="{{ field.name }}-{{ forloop.counter0 }}" name="{{ wizard.steps.current }}-{{ field.name }}" value="{{ c.choice_value }}" {% if c.is_checked %} checked {% endif %}>
                                <label for="{{ field.name }}-{{ forloop.counter0 }}">{{ c.choice_label }}</label>
                              </div>
                              {% endfor %}
                            {% elif field.field.widget|fieldtype == 'Select' %}
                            {{ field.label_tag }}
                            <div class="select">
                              {{ field }}
                            </div>
                            {% elif field.field.widget|fieldtype == 'CheckboxInput' %}
                            <div class="checkbox">
                              {{ field }}
                              {{ field.label_tag }}
                            </div>
                            {% else %}
                            {{ field.label_tag }}
                            {{ field }}
                            {% endif %}
                          </div>
                          {% endfor %}
                        </section>
                      </div>
                    </div>
                  </section>
                </div>
              </main>
            </div>
          </div>
          <div class="modal-footer">
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" class="btn btn-primary" value="{{ wizard.steps.prev }}" formnovalidate>{% trans "Back" %}</button>
            {% endif %}
            {% if wizard.steps.next %}
            <button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
            {% else %}
            <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}"></input>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
{% endblock %}
