{% load static %}
{% load google_analytics %}
{% load supervisr_title %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'node_modules/clarity-icons/clarity-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/clarity-ui/clarity-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'supervisr.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo_64.png' %}"/>
    <title>
      {% block title %}
      {% supervisr_title title %}
      {% endblock %}
    </title>
    {% block header %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <script src="{% static 'node_modules/clarity-icons/clarity-icons.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/clarity-js.js' %}"></script>
    {% google_analytics %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
