{% load static %}
{% load google_analytics %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/supervisr.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo_64.png' %}"/>
    {% block header %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% google_analytics %}
  </body>
</html>
