{% extends "core/base.html" %}

{% load i18n %}
{% load is_active %}

{% block sidenav %}
<nav class="sidenav clr-nav-level-2">
  <section class="sidenav-content">
    <a href="{% url 'common-index' %}" class="nav-link {% is_active 'common' %}">
    {% trans "Overview" %}
    </a>
    <a href="{% url 'domain-index' %}" class="nav-link {% is_active 'domain' %}">
    {% trans "Domains" %}
    </a>
    <section class="nav-group">
      <input id="provider_group" type="checkbox">
      <label for="provider_group">{% trans "Provider" %}</label>
      <ul class="nav-list">
        <li>
          <a href="{% url 'instance-index' %}" class="nav-link {% is_active 'instance' %}">
          {% trans "Instances" %}
          </a>
        </li>
        <li>
          <a href="{% url 'credential-index' %}" class="nav-link {% is_active 'credential' %}">
          {% trans "Credentials" %}
          </a>
        </li>
      </ul>
    </section>
    <a href="{% url 'product-index' %}" class="nav-link {% is_active 'product' %}">
      {% trans 'Products' %}
    </a>
  </section>
</nav>
{% endblock %}
