{% extends "core/skel.html" %}

{% load supervisr_title %}
{% load supervisr_setting %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block header %}
<title>{% supervisr_title code %}</title>
{% endblock %}

{% block body %}
<div class="login-wrapper">
  <form class="login" method="POST">
    <label class="title">
      {% supervisr_setting 'branding' %}
    </label>
    <label class="subtitle">
      {% trans "Whops" %}
    </label>
    <div class="login-group">
      {% if message %}
      <p>{{ message }}</p>
      {% else %}
        {% if code == 404 %}
        <p>{% trans 'Not found.' %}</p>
        {% else %}
        <p>{% trans 'An unexpected Error occurred. The Admin team has been notified.' %}</p>
        {% endif %}
      {% endif %}
      <small>Error Code: {{ code }}</small>
    </div>
  </form>
</div>
{% endblock %}
