{% extends "core/skel.html" %}

{% load supervisr_utils %}
{% load i18n %}
{% load raven %}

{% block header %}
<title>{% title code %}</title>
{% endblock %}

{% block body %}
<div class="login-wrapper">
  <form class="login" method="POST">
    <label class="title">
      {% supervisr_setting 'branding' %}
    </label>
    <label class="subtitle">
      {% trans "Whops" %}
    </label>
    <div class="login-group">
      {% if message %}
      <p>{{ message }}</p>
      {% else %}
        {% if code == 404 %}
        <p>{% trans 'Not found.' %}</p>
        {% else %}
        <p>{% trans 'An unexpected Error occurred. The Admin team has been notified.' %}</p>
        {% if exc_message %}
        <small>
          {% trans 'Additional Information:' %}<br>
          {{ exc_message }}
        </small>
        {% endif %}
        {% endif %}
      {% endif %}
      <br>
      {% if request.sentry.id %}
        <p>If you need assistance, you may reference this error as
        <strong>{{ request.sentry.id }}</strong>.</p>
      {% endif %}
      <small>Error Code: {{ code }}</small>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% if request.sentry.id %}
  <script>
  Raven.showReportDialog({
    eventId: '{{ request.sentry.id }}',
    dsn: '{% sentry_public_dsn %}',
    name: '{{ user.first_name }}',
    email: '{{ user.email }}',
  });
  </script>
{% endif %}
{% endblock %}
