{% extends "common/base.html" %}

{% load supervisr_title %}
{% load i18n %}
{% load gravatar %}

{% block title %}
{% supervisr_title "Overview" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-2">
    <div class="card">
      <div class="card-img">
        <img src="{% gravatar user.email %}" class="card-media-image">
      </div>
      <div class="card-block">
        <div class="card-text">
          {% blocktrans with name=user.first_name %}Hey, {{ name }}{% endblocktrans %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">
        {% trans "Overall Status" %}
      </div>
      <div class="card-block">
        <div class="card-text">
          <h1 class="text-center text-success">{% trans "OK" %}</h1>
        </div>
      </div>
    </div>
    {% for domain in domains %}
    <div class="card">
      <div class="card-header">
        {% blocktrans %}Quota Domain '{{ domain }}'{% endblocktrans %}
      </div>
      <div class="card-block">
        <div class="card-text">
          <table class="table table-noborder table-compact table-card">
            <tbody>
              {# TODO: templatetag that returns domain's service instances #}
              <!--<tr>
                <td>Mail</td>
                <td>
                  <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">30%</div>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        {% trans "Quicklaunch" %}
      </div>
      <div class="card-block">
        <div class="card-text">
          {% if hosted_applications %}
          <table class="table table-noborder table-compact table-card">
            <tbody>
              {% for app in hosted_applications %}
              <tr>
                <td>{{ app.name }}</td>
                <td><a href="{{ app.product.management_url }}" class="btn btn-primary btn-sm">{% trans "Open" %}</a></td>
                <td><span class="label label-success">{% trans "OK" %}</span></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div class="card-text">
            <p>{% trans "No Hosted Applications yet!" %}</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        {% trans "Recent Events" %}
      </div>
      <div class="card-block">
        {% if events and events|length > 0 %}
        <table class="table table-noborder table-compact table-card">
          <thead>
            <th></th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Age" %}</th>
            <th>{% trans "Action" %}</th>
          </thead>
          <tbody>
            {% for event in events %}
            <tr>
              <td><span class="glyphicon glyphicon-{{ event.glyph }}" aria-hidden="true"></span></td>
              <td>{% trans event.message %}</td>
              <td>{{ event.get_localized_age }}</td>
              <td>
                {% if event.action_required %}
                <a class="btn btn-primary btn-xs" href="{{ event.get_url }}"><clr-icon shape="pop-out"></clr-icon></a>
                {% else %}
                <clr-icon shape="times"></clr-icon>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="card-text">
          <p>{% trans "No Current Events!" %}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
