{% extends "common/base.html" %}

{% load b64 %}
{% load supervisr_title %}
{% load i18n %}
{% load gravatar %}

{% block title %}
{% supervisr_title "Overview" %}
{% endblock %}

{% block header %}
<style>
  .apps ul {
    background: #fff;
    margin: 0;
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  .apps ul li {
    width: 33%;
    color: black;
    padding: 18px 0;
    text-align: center;
  }

  .apps ul li a {
    color: black;
    display: flex;
    flex-direction: column;
  }

  .apps ul li a img,
  .apps ul li a clr-icon {
    max-width: 64px;
    margin: auto;
  }
</style>
{% endblock %}

{% block content_area %}
<div class="container">
  <h1><clr-icon shape="dashboard" size="48"></clr-icon>{% trans "Overview" %}</h1>
</div>
<div class="row">
  <div class="col-md-2 hidden-sm-down">
    <div class="card">
      <div class="card-img">
        <img src="{% gravatar user.email %}" class="card-media-image">
      </div>
      <div class="card-block">
        <div class="card-text">
          {% blocktrans with name=user.first_name %}Hey, {{ name }}{% endblocktrans %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        {% trans "Provider Instance Status" %}
      </div>
      <div class="card-block">
        {% if user_providers and user_providers|length > 0 %}
        <table class="table table-noborder table-compact table-card">
          <thead>
            <th>{% trans 'Instance' %}</th>
            <th>{% trans 'Provider' %}</th>
            <th>{% trans 'Status' %}</th>
          </thead>
          <tbody>
            {% for instance in user_providers %}
            <tr>
              <td><span>{{ instance.name }}</span></td>
              <td><span>{{ instance.provider.ui_name }}</span></td>
              <td>
                {% with status=instance.provider.check_status %}
                  {% if status == True %}
                    <span class="label label-success">{% trans "OK" %}</span>
                  {% else %}
                    <span class="label is-error">{{ status }}</span>
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="card-text">
          <p>{% trans "No Provders" %}</p>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        {% trans "Recent Events" %}
      </div>
      <div class="card-block">
        {% if events and events|length > 0 %}
        <table class="table table-noborder table-compact table-card">
          <thead>
            <th></th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Age" %}</th>
            <th>{% trans "Action" %}</th>
          </thead>
          <tbody>
            {% for event in events %}
            <tr>
              <td><span class="glyphicon glyphicon-{{ event.glyph }}" aria-hidden="true"></span></td>
              <td>{% trans event.message %}</td>
              <td>{{ event.get_localized_age }}</td>
              <td>
                {% if event.action_required %}
                <a class="btn btn-primary btn-xs" href="{{ event.get_url }}"><clr-icon shape="pop-out"></clr-icon></a>
                {% else %}
                <clr-icon shape="times"></clr-icon>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="card-text">
          <p>{% trans "No Current Events!" %}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        {% trans "Quicklaunch" %}
      </div>
      <div class="card-block">
        {% if hosted_applications %}
         <div class="launcher">
           <div class="app-launcher">
             <div class="apps">
               <ul>
                  {% for app in hosted_applications %}
                  <li>
                    <a href="{{ app.product.management_url }}">
                      {% if app.product.icon %}
                      <img src="data:image/png;base64,{{ app.product.icon.file|b64encode }}" alt="{{ app.name }} Icon">
                      {% else %}
                      <clr-icon shape="application" size="64"></clr-icon>
                      {% endif %}
                      {{ app.name }}
                    </a>
                  </li>
                  {% endfor %}
               </ul>
             </div>
            </div>
        </div>
        {% else %}
        <div class="card-text">
          <p>{% trans "No Hosted Applications yet!" %}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
