{% extends "core/skel.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block header %}
<title>{% title title %}</title>
{% endblock %}

{% block body %}
<div class="login-wrapper">
  <form class="login" method="POST">
    <label class="title">
      {% supervisr_setting 'branding' %}
    </label>
    <label class="subtitle">
      {% trans "Maintenance Mode" %}
    </label>
    <div class="login-group">
      <p>{% blocktrans %}We're currently upgrading supervisr. Try again in a few minutes or shoot us an email at <a href="mailto:support@beryju.org">support@beryju.org</a>.{% endblocktrans %}</p>
    </div>
  </form>
</div>
{% endblock %}
