{% extends "core/base.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title 'Search' %}
{% endblock %}

{% block content %}
{% for app, results in results.items %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        {% trans app %}
      </div>
      {{ results }}
    </div>
  </div>
</div>
{% empty %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        {% trans 'Nothing' %}
      </div>
      <div class="card-block">
        <div class="card-text">
          {% trans 'Nothing found :(' %}
        </div>
      </div>
    </div>
    <div>
  </div>
</div>
{% endfor %}
{% endblock %}

