{% extends "_admin/mod_default.html" %}

{% load i18n %}
{% load supervisr_title %}

{% block title %}
{% supervisr_title "Overview" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        {% trans 'SAML IDP Metadata' %}
      </div>
      <form role="form" method="POST">
        <div class="card-block">
          <section class="form-block">
            <pre lang="xml" >{{ metadata }}</pre>
          </section>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
