{% extends "puppet/base.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
{% title "Overview" %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="puppetlabs" size="48"></clr-icon>{% trans "Puppet Overview" %}</h1>
<div class="row">
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">
        {% trans "Modules" %}
      </div>
      <div class="card-block">
        <div class="card-text">
          <h1 class="text-center">{{ module_count }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">
        {% trans "Downloads" %}
      </div>
      <div class="card-block">
        <div class="card-text">
          <h1 class="text-center">{{ download_count }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        {% trans "Debug: Puppet Build" %}
      </div>
      <div class="card-footer">
        <a class="btn btn-primary" href="{% url 'supervisr_puppet:puppet-debug-build' user='supervisr' module='supervisr_core' %}">
          core
        </a>
        <a class="btn btn-primary" href="{% url 'supervisr_puppet:puppet-debug-build' user='supervisr' module='supervisr_mail' %}">
          mail
        </a>
        <a class="btn btn-primary" href="{% url 'supervisr_puppet:puppet-debug-build' user='supervisr' module='supervisr_dns' %}">
          dns
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        {% trans "Versions" %}
      </div>
      <div class="card-block">
        <table class="table">
          <thead>
            <tr>
              <th>{% trans 'Module' %}</th>
              <th>{% trans 'Latest Version' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for mod, rel in versions.items %}
            <tr>
              <td>{{ mod.name }}</td>
              <td>{{ rel.version }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
