{% extends "_admin/mod_default.html" %}

{% load i18n %}
{% load supervisr_title %}

{% block title %}
{% supervisr_title "Overview" %}
{% endblock %}

{% block module_content %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2><clr-icon shape="directory" size="32"></clr-icon>{% trans 'LDAP Connection Settings' %}</h2>
      </div>
      <form role="form" method="POST">
        <div class="card-block">
          <section class="form-block">
            {% include 'blocks/block_form.html' with form=form %}
          </section>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">{% trans 'Update' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
