{% extends "core/base.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
  {% title title %}
{% endblock %}

{% block content %}
<div class="modal">
  <div class="modal-dialog {% if size %}modal-{{ size }}{% endif %}" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <a aria-label="Close" class="close" class="btn btn-link" href="{% back %}">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </a>
        <h3 class="modal-title">{% trans title %}</h3>
      </div>
      <form role="form" method="POST">
        <div class="modal-body">
          {% include 'blocks/form.html' with form=form %}
        </div>
        <div class="modal-footer">
          <a class="btn btn-outline" href="{% back %}">{% trans 'Cancel' %}</a>
          <button type="submit" class="btn btn-primary">{% trans primary_action|default:'Apply' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
{% endblock %}

