Source: supervisr
Section: admin
Priority: optional
Maintainer: BeryJu.org <support@beryju.org>
Uploaders: Jens Langhammer <jens@beryju.org>, BeryJu.org <support@beryju.org>
Build-Depends: debhelper (>= 9), dh-exec, wget, dh-virtualenv, python3 (>= 3.5), dh-exec
Standards-Version: 3.9.6

Package: supervisr
Architecture: all
Depends: python3 (>= 3.5), dbconfig-mysql | dbconfig-no-thanks, redis-server, ${misc:Depends}
Description: Supervise your IT

