[Unit]
Description=supervisr Task Scheduler
After=syslog.target network.targetce
Requires=network.target

[Service]
User=supervisr
Group=supervisr
WorkingDirectory=/usr/share/supervisr
Type=simple
ExecStart=/usr/bin/supervisr-ctl supervisr.run_celery_beats
Environment=SUPERVISR_LOCAL_SETTINGS=config

[Install]
WantedBy=multi-user.target

