{% extends "core/skel.html" %}

{% load supervisr_title %}
{% load supervisr_navapps %}
{% load supervisr_setting %}
{% load is_active %}
{% load setting %}
{% load hostname %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load gravatar %}

{% block body %}
<div class="main-container">
  {% block messages %}
  {% if messages %}
  {% for msg in messages %}
  <div class="alert alert-app-level alert-{{ msg.level_tag }}">
    <button type="button" class="close" aria-label="Close" clrAlert>
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
    <div class="alert-item">
      <div class="alert-text">
        {{ msg.message|safe }}
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  {% endblock %}
  <header class="header header-2">
    <div class="branding">
      <a class="logo-and-title" href="{% url 'common-index' %}">
        <span class="clr-icon clarity-logo"></span>
        <span class="title">{% supervisr_setting 'branding' %}</span>
      </a>
    </div>
    <div class="divider"></div>
    <div class="header-nav clr-nav-level-1">
      <a class="nav-link {% is_active 'account' 'common' 'domain' %}" href="{% url 'common-index' %}">
        <span class="nav-text">{% trans "Home" %}</span> <span class="sr-only">(current)</span>
      </a>
      {% if user.is_authenticated %}
      {% supervisr_navapps as installed_apps %}
      {% for app in installed_apps %}
      <a class="nav-link {% is_active app.short %}" href="{% url app.index %}">
        <span class="nav-text">{% trans app.title %}</span>
      </a>
      {% endfor %}
      {% if user.is_superuser %}
      <a class="nav-link {% is_active 'admin' %}" href="{% url 'admin-index' %}">
        <span class="nav-text">{% trans "Admin" %}</span>
      </a>
      {% endif %}
      {% endif %}
    </div>
    <div class="divider"></div>
    <form class="search" method="POST">
      <label for="search_input">
        <input id="search_input" placeholder="Search for keywords..." type="text">
      </label>
    </form>
    <div class="settings">
      <span class="nav-link">
        <img class="branding" src="{% gravatar user.email %}" alt="">
      </span>
      {% if user.is_authenticated %}
      <div class="dropdown bottom-right">
        <button class="dropdown-toggle btn btn-primary" clrDropdown>
          {{ user.email }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'account-change_password' %}">{% trans "Change Password" %}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'account-logout' %}">{% trans "Logout" %}</a>
        </div>
      </div>
      {% endif %}
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      {% block content_area %}
      {% endblock %}
      <div class="container">
        {% block _content %}
        {% block content %}
        {% endblock %}
        {% endblock %}
      </div>
    </div>
    {% block sidenav %}
    {% endblock %}
  </div>
</div>
{% endblock %}
