{% extends "mail/base.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title "Mail" %}
{% endblock %}

{% block content %}
<a href="{% url 'supervisr_mail:mail-account-new' %}" class="btn btn-primary">
  {% trans "New Account" %}
</a>
<table class="table">
  <thead>
    <tr>
      <th>{% trans 'Full Address' %}</th>
      <th>{% trans 'Domain' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for account in accounts %}
      <tr>
        <td>{{ account.address }}@{{ account.domain.domain }}</td>
        <td>{{ account.domain.domain }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
