{% load i18n %}
{% load fieldtype %}
<div class="clr-wizard main-container hidden" id="modal_mail_account_new">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <div class="content-container">
            <nav class="nav-panel sidenav">
              <div class="text-light">
                <div class="wizard-title">
                  {% trans "New Mail Account" %}
                </div>
              </div>
              <ol class="nav navList" role="tablist">
                {% for fieldset in form.fieldsets %}
                <li class="clr-nav-link" role="presentation" aria-selected="true">
                  <button class="btn btn-link nav-link" type="button">
                  {{ fieldset.legend }}
                  </button>
                </li>
                {% endfor %}
              </ol>
            </nav>
            <main class="content-area">
              <button clrWizCancel aria-label="Close" class="close" type="button">
                <clr-icon aria-hidden="true" shape="close"></clr-icon>
              </button>
              {% for fieldset in form.fieldsets %}
              <div class="clr-nav-content active" role="tabpanel" data-hidden="true">
                <section>
                  <label class="text-light">{{ fieldset.description }}</label>
                  <div class="content-wrapper">
                    <div class="form">
                      <section class="form-block">
                      {% for field in fieldset %}
                        <div class="form-group">
                          {{ field.errors }}
                          {{ field.label_tag }}
                          {% if field.field.widget|fieldtype == 'RadioSelect' %}
                            {% for se in field %}
                              <div class="radio">
                                <input type="radio" id="{{ field.name }}-{{ forloop.counter0 }}" name="{{ field.name }}" value="{{ se.choice_value }}" {% if se.is_checked %} checked {% endif %}>
                                <label for="{{ field.name }}-{{ forloop.counter0 }}">{{ se.choice_label }}</label>
                              </div>
                            {% endfor %}
                          {% elif field.field.widget|fieldtype == 'Select' %}
                            <div class="select">
                              <select id="{{ field.name }}-{{ forloop.counter0 }}">
                                {% for k,v in field.field.choices %}
                                  <option value="{{ k }}">{{ v }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          {% else %}
                            {{ field }}
                          {% endif %}
                        </div>
                      {% endfor %}
                      </section>
                    </div>
                  </div>
                </section>
              </div>
              {% endfor %}
            </main>
          </div>
        </div>
        <div class="modal-footer">
          <button clrWizCancel class="btn btn-link">{% trans "Cancel" %}</button>
          <button clrWizBack class="btn btn-outline">{% trans "Back" %}</button>
          <button clrWizNext class="btn btn-primary">{% trans "Next" %}</button>
          <button action="submit" clrWizFinish class="btn btn-primary">{% trans "Finish" %}</button>
        </div>
      </div>
    </div>
  </div>
  <div clrWizCancel class="modal-backdrop" aria-hidden="true"></div>
</div>
