{% extends "dns/base.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title 'Records' %}
{% endblock %}

{% block header %}
<style>
  td > input[type=text] {
    width: 100%;
    height: initial;
  }
</style>
{% endblock %}

{% block content_area %}
<div class="container">
  <h1><clr-icon shape="view-list" size="48"></clr-icon>{% blocktrans with z=zone.domain.domain %}Records for {{ z }}{% endblocktrans %}</h1>
  <div class="btn-group btn-link btn-icon-link">
    <a href="{% url 'supervisr/dns:dns-record-new' zone=zone.domain.domain %}" class="btn">
      <clr-icon shape="add"></clr-icon>
    </a>
    <a data-ctx-name="edit" class="btn">
      <clr-icon shape="edit"></clr-icon>
    </a>
    <a data-ctx-name="trash" class="btn">
      <clr-icon shape="trash"></clr-icon>
    </a>
    <div class="btn-group-overflow dropdown">
      <button class="btn dropdown-toggle" clrDropdown>
        <clr-icon shape="ellipsis-horizontal"></clr-icon>
      </button>
      <div class="dropdown-menu">
        <a href="{% url 'supervisr/dns:migrate-import-bind' %}" class="dropdown-item">{% trans 'Import from Bind Zone' %}</a>
      </div>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Type' %}</th>
      <th>{% trans 'Priority' %}</th>
      <th>{% trans 'TTL' %}</th>
      <th>{% trans 'Enabled' %}</th>
      <th>{% trans 'Content' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for rec in records %}
    <tr data-selectable data-ctx-edit="{% url 'supervisr/dns:dns-record-edit' zone=zone.domain.domain record=rec.name %}?back={{ request.get_full_path }}" data-ctx-trash="{% url 'supervisr/dns:dns-record-delete' zone=zone.domain.domain record=rec.name %}?back={{ request.get_full_path }}">
      <td>{{ rec.name }}</td>
      <td>{{ rec.type }}</td>
      <td>{{ rec.prio }}</td>
      <td>{{ rec.ttl }}</td>
      <td>{{ rec.enabled }}</td>
      <td><input type="text" readonly value="{{ rec.content }}"></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'blocks/block_pagination.html' with pages=records %}
{% endblock %}

{% block scripts %}
<script>
clrTableSelect('.content-area');
</script>
{% endblock %}
