{% extends "core/base.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
{% title 'Search' %}
{% endblock %}

{% block content %}
<h1>{% trans 'Search' %}</h1>
{% for app, results in results.items %}
<div class="row">
  <div class="card">
    <div class="card-header">
      {% trans app %}
    </div>
    {% for model, model_results in results.items %}
    <table class="table table-noborder table-compact">
      <thead>
        <tr>
          <th class="left">{{ model|fieldtype|title }}</th>
        </tr>
      </thead>
      <tbody>
        {% for result in model_results %}
        <tr>
          <td class="left"><clr-icon shape="{{ result.icon }}"></clr-icon>  <a href="{{ result.url }}">{{ result.label }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>
</div>
{% empty %}
<div class="row">
  <div class="card">
    <div class="card-header">
      {% trans 'Nothing' %}
    </div>
    <div class="card-block">
      <div class="card-text">
        {% trans 'Nothing found' %} <clr-icon shape="sad-face"></clr-icon>
      </div>
    </div>
  </div>
  <div>
</div>
{% endfor %}
{% endblock %}

