coverage
isort
pylint
pylint-django
prospector
django-debug-toolbar
recommonmark
autopep8
# pycodestyle<2.4.0,>=2.0.0
mkdocs
mkdocs-material
tornado>=5.0
# pyroma<2.4
pyroma
safety
bandit<1.5.0
unittest-xml-reporting
bumpversion
# Custom pdoc pacakge with support for google-style docstrings
--extra-index-url https://pkg.beryju.org/repository/pypi/simple
pdoc_django
twine
