coverage
isort
pylint
pylint-django
prospector
django-debug-toolbar
recommonmark
autopep8
# pycodestyle<2.4.0,>=2.0.0
mkdocs
mkdocs-material
tornado>=5.0
# pyroma<2.4
pyroma
safety
bandit<1.5.0
unittest-xml-reporting
bumpversion
-e git+https://github.com/BeryJu/pdoc.git@ebb38ec5d2a023a31442757bba697c60d315578f#egg=pdoc
