# cherrypy<=11.0.0
aenum
celery
cherrypy
colorlog
django-cors-headers
django-formtools
django-htmlmin
django-recaptcha
django-redis
django>=2.0
docutils
flower
graphviz
invoke
markdown<3.0
packaging
passlib
Pillow
pip>=10
psutil
pycryptodome
pymysql
pyyaml
raven
redis
urllib3<1.23,>=1.21.1
