django>=2.0
django-formtools
django-recaptcha
django-htmlmin
django-redis
invoke
# cherrypy<=11.0.0
cherrypy
pymysql
packaging
docutils
pyyaml
passlib
Pillow
raven
celery
redis<3.0
flower
urllib3<1.23,>=1.21.1
pip>=10
pycryptodome
colorlog
markdown<3.0
aenum
graphviz
