{% extends "common/base.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
{% title "Credentials" %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="certificate" size="48"></clr-icon>{% trans "Credentials" %}</h1>
<angular
    component="datagrid"
    api-path="core::credentials::read">
    <clr-action add-view="credential-new"
                edit-view="credential-edit"
                delete-view="credential-delete"></clr-action>
    <clr-header-column field="name">{% trans 'Name' %}</clr-header-column>
    <clr-header-column field="used_by">{% trans 'Used by' %}</clr-header-column>
    <clr-header-column field="type">{% trans 'Type' %}</clr-header-column>
</angular>
{% endblock %}
