{% extends "common/base.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
{% title "Credentials" %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="certificate" size="48"></clr-icon>{% trans "Credentials" %}</h1>
<div class="btn-group btn-link btn-icon-link">
  <a href="{% url 'credential-new' %}" class="btn">
    <clr-icon shape="add"></clr-icon>
  </a>
  <a data-ctx-name="edit" class="btn">
    <clr-icon shape="edit"></clr-icon>
  </a>
  <a data-ctx-name="trash" class="btn">
    <clr-icon shape="trash"></clr-icon>
  </a>
</div>
<table class="table credentials">
  <thead>
    <tr>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Used by' %}</th>
      <th>{% trans 'Type' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for cred in instances %}
    <tr data-selectable data-ctx-edit="{% url 'credential-edit' uuid=cred.uuid %}?back={{ request.get_full_path }}" data-ctx-trash="{% url 'credential-delete' uuid=cred.uuid %}?back={{ request.get_full_path }}">
      <td>{{ cred.name }}</td>
      <td>
        {% if cred.providerinstance_set.exists %}
          {{ cred.providerinstance_set.all|join:', ' }}
        {% else %}
          -
        {% endif %}
      </td>
      <td>{{ cred.cast.type }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
clrTableSelect('.container');
</script>
{% endblock %}
