{% extends 'generic/wizard.html' %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
{% title title %}
{% endblock %}

{% block after_form %}
<p>{% trans 'Description:' %} <span id="provider-description"></span></p>
<p>{% trans 'Capabilities:' %} <span id="provider-capabilities"></span></p>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  var providers = {
    {% for path, info in providers.items %}
    '{{ path }}': {
      'ui_name': '{{ info.ui_name }}',
      'ui_description': '{{ info.ui_description }}',
      'capabilities': '{{ info.capabilities }}',
      'author': '{{ info.author }}',
    },
    {% endfor %}
  };
  var update_desc = function (key) {
    var data = providers[key];
    $('#provider-description').html(data.ui_description);
    $('#provider-capabilities').html(data.capabilities);
  }
  $('[name="0-provider_path"]').change(function () {
    update_desc($(this).val());
  });
  update_desc($('[name="0-provider_path"]').val());
</script>
{% endblock %}
