{% extends "core/base.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
{% title instance %}
{% endblock %}

{% block content %}
<div class="modal">
  <div class="modal-dialog {% if size %}modal-{{ size }}{% endif %}" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <a aria-label="Close" class="close" class="btn btn-link" href="{% back %}">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </a>
        <h3 class="modal-title">{% trans instance %}</h3>
      </div>
      <form role="form" method="POST">
        <div class="modal-body">
          <provider-update></provider-update>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
{% endblock %}
