{% extends "mail/base.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title "Overview" %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="email" size="48"></clr-icon>{% trans "Mail" %}</h1>
{% if unused_domains %}
<h3>{% trans "Unclaimed Domains" %}</h3>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Domain" %}</th>
        <th>{% trans "Provider" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for domain in unused_domains %}
      <tr>
        <td>{{ domain }}</td>
        <td>{{ domain.provider }}</td>
        <td><a href="{% url 'supervisr_mail:domain-new' %}">{% trans "Setup mail..." %}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
<div class="btn-group btn-link btn-icon-link">
  <a href="{% url 'supervisr_mail:domain-new' %}" class="btn">
    <clr-icon shape="add"></clr-icon>
  </a>
  <a data-ctx-name="edit" class="btn">
    <clr-icon shape="edit"></clr-icon>
  </a>
  <a data-ctx-name="trash" class="btn">
    <clr-icon shape="trash"></clr-icon>
  </a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>{% trans 'Domain' %}</th>
      <th>{% trans 'Owner' %}</th>
      <th>{% trans 'Accounts' %}</th>
      <th>{% trans 'Aliases' %}</th>
      <th>{% trans 'Provider' %}</th>
      <th>{% trans 'Enabled' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for domain in instances %}
    <tr data-selectable data-ctx-edit="{% url 'supervisr_mail:domain-edit' domain=domain.domain.domain_name %}?back={{ request.get_full_path }}" data-ctx-trash="{% url 'supervisr_mail:domain-delete' domain=domain.domain.domain_name %}?back={{ request.get_full_path }}">
      <td>{{ domain.domain }}</td>
      <td>{{ domain.users.all|join:"," }}</td>
      <td>{{ domain.mailaccount_set.all|length }}</td>
      <td>{{ domain.mailalias_set.all|length }}</td>
      <td>{{ domain.providers.all|join:"," }}</td>
      <td>{{ domain.enabled }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'blocks/block_pagination.html' with pages=instances %}
{% endblock %}

{% block scripts %}
<script>
clrTableSelect('.container');
</script>
{% endblock %}