{% extends "common/base.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title "Domains" %}
{% endblock %}

{% block content %}
<a href="{% url 'domain-new' %}" class="btn btn-sm">
  {% trans "New Domain" %}
</a>
<table class="table">
  <thead>
    <tr>
      <th>{% trans 'Domain' %}</th>
      <th>{% trans 'Registrar' %}</th>
      <th>{% trans 'Is Managed?' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for domain in domains %}
      <tr>
        <td>{{ domain }}</td>
        <td>{{ domain.registrar }}</td>
        <td>
          {% if domain.managed %}
          <clr-icon shape="check"></clr-icon>
          {% else %}
          <clr-icon shape="times"></clr-icon>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
