{% extends "common/base.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title "Domains" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="container">
    <button clrWizLauncher data-id="#new-domain-wizard" class="btn btn-primary">
      {% trans "New Domain" %}
    </button>
    {% for domain in domains %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          {{ domain.name }}
        </div>
        <div class="card-block">
          <div class="card-text">
            {{ domain.description }}
          </div>
        </div>
        <div class="card-footer">
          {% if domain.management_url %}
          <a target="_blank" href="{{ domain.management_url }}" class="btn btn-sm btn-link">
            {% trans 'Open' %}
          </a>
          {% else %}
          <a target="_blank" href="" class="btn btn-sm btn-link">
            {% trans 'Open' %}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="clr-wizard main-container" id="new-domain-wizard">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <div class="content-container">
            <nav class="nav-panel sidenav">
              <div class="text-light">
                <div class="wizard-title">
                  {% trans "New Domain" %}
                </div>
              </div>
              <ol class="nav navList" role="tablist">
                <li class="clr-nav-link" role="presentation"
                  id="clr-tabs-0-tab-0" aria-selected="true"
                  aria-controls="clr-tabs-0-content-0">
                  <button class="btn btn-link nav-link" type="button">
                  Step 1
                  </button>
                </li>
                <li class="clr-nav-link" role="presentation"
                  id="clr-tabs-0-tab-1" aria-selected="true"
                  aria-controls="clr-tabs-0-content-1">
                  <button class="btn btn-link nav-link" type="button">
                  Step 2
                  </button>
                </li>
                <li class="clr-nav-link" role="presentation"
                  id="clr-tabs-0-tab-2" aria-selected="true"
                  aria-controls="clr-tabs-0-content-2">
                  <button class="btn btn-link nav-link" type="button">
                  Step 3
                  </button>
                </li>
                <li class="clr-nav-link" role="presentation"
                  id="clr-tabs-0-tab-3" aria-selected="true"
                  aria-controls="clr-tabs-0-content-3">
                  <button class="btn btn-link nav-link" type="button">
                  Step 4
                  </button>
                </li>
              </ol>
            </nav>
            <main class="content-area">
              <button clrWizCancel aria-label="Close" class="close" type="button">
                <clr-icon aria-hidden="true" shape="close"></clr-icon>
              </button>
              <div class="clr-nav-content active" role="tabpanel" id="clr-tabs-0-content-0"
                aria-labelledby="clr-tabs-0-tab-0" data-hidden="true">
                <section>
                  <label class="text-light">Title for step 1</label>
                  <div class="content-wrapper">Content for step 1</div>
                </section>
              </div>
              <div class="clr-nav-content" role="tabpanel" id="clr-tabs-0-content-1"
                aria-labelledby="clr-tabs-0-tab-1" data-hidden="true">
                <section>
                  <label class="text-light">Title for step 2</label>
                  <div class="content-wrapper">Content for step 2</div>
                </section>
              </div>
              <div class="clr-nav-content" role="tabpanel" id="clr-tabs-0-content-2"
                aria-labelledby="clr-tabs-0-tab-2" data-hidden="true">
                <section>
                  <label class="text-light">Title for step 3</label>
                  <div class="content-wrapper">Content for step 3</div>
                </section>
              </div>
              <div class="clr-nav-content" role="tabpanel" id="clr-tabs-0-content-3"
                aria-labelledby="clr-tabs-0-tab-3" data-hidden="true">
                <section>
                  <label class="text-light">Title for step 4</label>
                  <div class="content-wrapper">Content for step 4</div>
                </section>
              </div>
            </main>
          </div>
        </div>
        <div class="modal-footer">
          <button clrWizCancel class="btn btn-link">{% trans "Cancel" %}</button>
          <button clrWizBack class="btn btn-outline">{% trans "Back" %}</button>
          <button clrWizNext class="btn btn-primary">{% trans "Next" %}</button>
          <button action="submit" clrWizFinish class="btn btn-primary">{% trans "Finish" %}</button>
        </div>
      </div>
    </div>
  </div>
  <div clrWizCancel class="modal-backdrop" aria-hidden="true"></div>
</div>
{% endblock %}
