{% extends "common/base.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title "Domains" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="container">
    <button clrWizLauncher data-id="#modal_domain_new" class="btn btn-primary">
      {% trans "New Domain" %}
    </button>
    {% for domain in domains %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          {{ domain.name }}
        </div>
        <div class="card-block">
          <div class="card-text">
            {{ domain.description }}
          </div>
        </div>
        <div class="card-footer">
          {% if domain.management_url %}
          <a target="_blank" href="{{ domain.management_url }}" class="btn btn-sm btn-link">
            {% trans 'Open' %}
          </a>
          {% else %}
          <a target="_blank" href="" class="btn btn-sm btn-link">
            {% trans 'Open' %}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include "domain/modal_domain_new.html" %}
{% endblock %}

{% block scripts %}
<script>
clrWizard('modal_domain_new');
</script>
{% endblock %}
