{% extends "dns/base.html" %}

{% load supervisr_title %}
{% load i18n %}

{% block title %}
{% supervisr_title 'Resource Set' %}
{% endblock %}

{% block content %}
<h1>
  <clr-icon shape="file-group" size="48"></clr-icon>
  {% blocktrans with name=instance.name %}Resource Set '{{ name }}'{% endblocktrans %}
  <a href="{% url 'supervisr_dns:rset-update' rset_uuid=instance.uuid %}?back={{ request.get_full_path }}">
    <clr-icon shape="edit"></clr-icon>
  </a>
  <a href="{% url 'supervisr_dns:rset-delete' rset_uuid=instance.uuid %}?back={{ request.get_full_path }}">
    <clr-icon shape="trash"></clr-icon>
  </a>
</h1>
<div class="btn-group btn-link btn-icon-link">
  <a href="{% url 'supervisr_dns:rres-create' %}" class="btn">
    <clr-icon shape="add"></clr-icon>
  </a>
  <a data-ctx-name="edit" class="btn">
    <clr-icon shape="edit"></clr-icon>
  </a>
  <a data-ctx-name="trash" class="btn">
    <clr-icon shape="trash"></clr-icon>
  </a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Type' %}</th>
      <th>{% trans 'TTL' %}</th>
      <th>{% trans 'Enabled' %}</th>
      <th>{% trans 'Content' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for rec in records %}
    <tr data-selectable data-ctx-edit="{% url 'supervisr_dns:rres-update' zone=dom.domain %}?back={{ request.get_full_path }}" data-ctx-trash="{%
    url 'supervisr_dns:rres-delete' zone=dom.domain %}?back={{ request.get_full_path }}">
      <td>{{ rec.name }}</td>
      <td>{{ rec.type }}</td>
      <td>{{ rec.ttl }}</td>
      <td>{{ rec.enabled }}</td>
      <td>{{ rec.content }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'blocks/block_pagination.html' with pages=zones %}
{% endblock %}

{% block scripts %}
<script>
clrTableSelect('.container');
</script>
{% endblock %}
