.login-wrapper .login .login-group .success {
    background: #266900;
}

.login-wrapper .login .login-group .warning {
    background: #EFD603;
}

.login-wrapper .login .login-group .info {
    background: #007cbb;
}
